@font-face {
    font-family: 'Lilita One';
    src: url('Font/LilitaOne-Regular.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Серый фон */
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 360px; /* Максимальная ширина для соотношения 9:16 */
    max-height: 640px; /* Максимальная высота для соотношения 9:16 */
    overflow: hidden;
}

.camel {
    width: 100%;
    height: 100%;
    background-image: url('textures/walk/camel_walk_0000.png'); /* Первый кадр анимации ходьбы */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.click-counter {
    position: absolute;
    color: white;
    font-size: 40px; /* Увеличенный размер шрифта */
    font-family: 'Lilita One', sans-serif; /* Применение нового шрифта */
    pointer-events: none;
    animation: floatUp 1s ease-out forwards; /* Увеличение продолжительности анимации до 1s */
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px); /* Увеличение высоты подъема */
    }
}

/* Для устройств с шириной экрана менее 600px */
@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .camel {
        width: 100%;
        height: 100%;
    }
}
